@charset "utf-8";

/* global */
body,html{
	width:100%;
	margin:0 auto;
	max-width: 420px;
	min-width: 320px;
	font-size:13px;
}

/*미디어 쿼리*/
@media screen and (min-width:420px) {
	body{
		border-left:1px solid #ededed;
		border-right:1px solid #ededed;
	}
}

@media screen and (max-width:420px) {
	body{
		border:0;
	}
}

@media screen and (max-width:320px){
	footer ul li a{
		font-size: 10px;
	}
}

    

/*메인메뉴 클릭시 첫번째 타이틀,공지사항,이벤트 클릭시 메이타이틀, 영역*/
.title div{
	width:3%;
	height:2px;
	/* background-color: #231b26; */
	margin:0 auto 3.5%;
}

.title h2{
	text-align:center;
	margin-bottom:3%;
	font-size: 20px;
	/* font-family: 'Jeju Gothic', sans-serif; */
	color:#000!important;
	line-height:1.4;
}
.title span{
	text-align: center;
	width: 100%;
	display: inline-block;
	margin-bottom: 5%;
	font-size: 12px;
	/* font-family: 'Jeju Gothic', sans-serif; */
}
/*메인메뉴 클릭시 첫번째 table(가라오케,마사지,호텔)*/
.title .table01{
	border:1px solid #ededed;
	width:65%;
	margin: 0 auto 5%;
}

.title .table01 tr td{
	border:1px solid #ededed;
	font-size: 12px;
	text-align: center;
	/* font-family: 'Jeju Gothic', sans-serif; */
	padding:0 0 1.5%;
	background-size: 20%;
}

.title .table01 tr td img{
	width:50%;
	display: block;
	margin:0 auto 10%;
}

.title .table01 tr td{
	background-color :#fff;
}
.title .table01 tr td.active{
	background-color: #f7edf1;
}

/*공지사항 이벤트 페이지의 타이틀 영역의 table 영역*/
/* .title .table02{ */
	/* width: 65%; */
	/* margin: 0 auto; */
/* } */
/* .title .table02 tr td{ */
	/* border:1px solid #ededed; */
	/* font-size: 13px; */
	/* font-family: 'Jeju Gothic', sans-serif; */
	/* vertical-align: middle; */
	/* padding:7px 0; */
	/* width:50%; */
/* } */
/* .title .table02 td figure{ */
	/* display: inline-block; */
	/* text-align: center; */
	/* width: 100%; */
/* } */
/* .title .table02 td figure img{ */
	/* width: 20%; */
	/* vertical-align: middle; */
/* } */
/* .title .table02 td figcaption{ */
	/* display: inline-block; */
/* } */
/*메인메뉴 클릭시 두번째 타이틀,자유게시판의 작성이,작성자 이름 영역*/
.title02{
	border-bottom:2px solid #4d4d4d;
	width:94%;
	margin:0 3% 20px;
	padding:0 0 1.5% 0;
	line-height: 1.2;
}
/* .title03{
	width:94%;
	margin:0 3% 3%;
} */
.title02 h2{
	font-size:15px;
	display: inline-block;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.title03 p,
.title02 p{
	font-size:13px;
	display: inline-block;
	/* font-family: 'Jeju Gothic', sans-serif; */
	float:right;
	margin-top:1%;
}

.title02 p span{
	font-size:13px;
	color: #25a4f4;
}

/*상세의 타이틀 / 자유게시판 상세 타이틀*/
.de_title{
	padding:0;
	margin:0;
}
.de_title h2{
	/* text-align:center; */
	padding:20px 12% 20px 3%;
	margin-bottom:20px;
	border-bottom:1px solid #ebebeb;
	font-size: 16px;
	font-family:'Jeju Gothic', sans-serif;  
	line-height:1.4;
	position:relative;
	word-break:keep-all;
}
.de_title h2 a{
	display:block;
	position:absolute;
	top:50%;
	right:4%;
	margin-top:-10px;
}
.de_title h2 span{
	display: block;
	font-size: 12px;
	margin-top: 3%;
}

.de_title table{
	border: 1px solid #ededed;
	
	margin:0 auto 20px;
}

.de_title td{
	background-color: #fff;
	border:1px solid #ededed;
	font-size: 12px;
	text-align: center;
	/* font-family: 'Jeju Gothic', sans-serif; */
	padding:1.5% 0;
}

.de_title td.active{
	background:#ecf4f9; 
}

.de_title td img{
	width: 50%;
	display:block;
	margin:3% auto 9%;
}
/* de_title02 자유게시판 게시물 타이틀 */
.de_title02{
	padding:0;
	margin:0;
}
.de_title02 h2{
	text-align:center;
	padding:30px 3% 35px;
	/* margin-bottom:20px; */
	/* border-bottom:1px solid #ebebeb; */
	font-size: 20px;
	font-family:'Jeju Gothic', sans-serif;  
	/* line-height:1.4; */
	position:relative;
}
    
/*footer02 (공지사항,이벤트) 영역*/
    /* .footer_02{ */
        /* margin-bottom:0; */
        /* position: relative; */
        /* background-color: #f2f2f2; */
        /* color:#000; */
        /* padding-top:3%; */
    /* } */

    /* .footer_02 > nav > ul{ */
        /* border:1px solid #666; */
        /* display: inline-block; */
        /* width:100%; */
    /* } */

    /* .footer_02 > nav > ul > li{ */
        /* width: 100%; */
        /* height: 35px; */
        /* border-bottom: 1px solid #666; */
        /* box-sizing: border-box; */
        /* padding:12px 3% 12px; */
        /* font-family: 'Jeju Gothic', sans-serif; */
    /* } */

    /* .footer_02 > nav > ul > li:first-child > span{ */
        /* float: right; */
        /* font-size: 15px; */
        /* transform: rotate(0deg); */
        /* position: relative; */
        /* top: -1px; */
        /* margin-right:3px; */
    /* } */

    /* .footer_02 > nav > ul > li:nth-child(2){ */
        /* display: none; */
        /* height: 150px; */
    /* } */

    /* .footer_02 > nav > ul > li:nth-child(3){ */
        /* width: 100%; */
        /* border-right: 1px solid #666; */
        /* box-sizing: border-box; */
        /* float: left; */
    /* } */

    /* .footer_02 > nav > ul > li:nth-child(3)  >  figure > figcaption{ */
        /* float: left; */
    /* } */

    /* .footer_02 > nav > ul > li:nth-child(3)  > figure > img{ */
        /* width: 4.5%; */
        /* float: right; */
        /* position: relative; */
        /* top:-2px; */
    /* } */

    /* .footer_02 > nav > ul > li:nth-child(3), */
    /* .footer_02 > nav > ul > li:last-child{ */
        /* border-bottom:0; */
    /* } */

    /* .footer_02 > nav > ul > li:last-child{ */
        /* display:none; */
        /* width: 10%; */
        /* float: right; */
        /* text-align:center; */
        /* font-size: 10px; */
        /* padding:8px 0; */
        /* box-sizing: border-box; */
    /* } */

    /* .footer_02 > nav > ul > li:nth-child(2) > ul > li{ */
        /* padding: 1.5%; */
        /* box-sizing: border-box; */
        /* font-size: 12px; */
        /* line-height: 16px; */
    /* } */

    /* .footer_02 a{ */
        /* color:#000; */
    /* } */

/*footer 영역*/
footer{
	width:100%;
	background-color: #f2f2f2;
	padding:3%;
	box-sizing: border-box;
	color:#333;
	text-align: center;
	line-height: 15px;
}
footer h2{
	font-size:10px;
	font-weight: normal;
}
footer p{
	margin-bottom:3%;
	font-size:10px;
}
footer ul {
	width:90%;
	margin: 0 auto;
	display: inline-block;
}
footer ul li{
	float: left;
}
footer ul li:nth-child(1),footer ul li:nth-child(2){
	box-sizing: border-box;
	text-align: center;
}
footer ul li a{
	color:#333;
	font-size:12px;
	/* font-family: 'Jeju Gothic', sans-serif; */
}
/* hr */
hr{
	border:none;
	height:1px;
	background-color:#ededed;
	padding: 0 3%;
	width: 100%;
	margin-left: -3%;
}
/*wrap padding-top 값*/
.wrap{
	padding-top:35%;
}
.wrap03{
	padding-top:25%;
	}

.wrap04{
	padding-top: 20%;
}

.wrap05{
	padding-top:18%;
}

.wrap06{
	padding-top: 13%;
}

.wrap07{
	padding-top:15%;
}
.wrap08{
	padding-top:128px;
}
.wrap09{
	padding-top:44px;
}
.wrap10{
	padding-top:140px;
}
#jssor_1 > div > div > div > div{
    width: 100% !important;
}
/* .hidden */
.hidden{
    width:1px;
    height:1px;
    position:absolute;
    overflow:hidden;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
}


/*
    .registerform{
        width: 100%;
    }

    .registerform tr{
        border-bottom:1px solid #ededed;
    }
    .registerform tr:last-child{
        border-bottom: 0;
    }

    .registerform tr td:first-child{
        border-right: 1px solid #ededed;
        padding: 3.5% 0 2%;
        box-sizing: border-box;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        width: 30%;
        background-color: rgb(239, 208, 222);
    }
*/

/* boyoon 추가 css  // 댓글영역  */
div.media{
	border:1px solid #e8e8e8;
	margin-top: 10px;
}
div.media div.media-body {
	font-size:12px;
	padding:8px 3%;
}

div.media div.media-body h4{
	display: inline-block;
	float:right;
	margin: 0;
}

.reply_write {
	background-color: #fff;
	padding: 10px; 
	border-top: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
}

.reply_write #viewcomment{
	padding:0;
}

/* main_category 메인페이지 메뉴 영역 */ 
.main_category{
	margin-bottom: 5%;
}
.main_category .main_cate_li{
	width:100%;
	padding:4% 3% 4% 20%;
	margin-bottom: 0;
	box-sizing:border-box;
	border-bottom:1px solid #ebebeb;
	background-repeat: no-repeat;
	background-position: 0 center;
	background-size: 17%;
	position: relative;
}
.main_category .main_cate_li:last-child{
	border-bottom:none;
}
.main_category .main_cate_li a:after{
	content:'>';
	display:block;
	height:20px;
	position: absolute;
	right:3%;
	top:50%;
	font-size: 20px;
	margin-top: -10px;
	color:#ccc;
}
.main_category .main_cate_li .cate_text{
	font-size: 16px;
	margin-bottom: 8px;
	font-family: 'Jeju Gothic' ,sans-serif;
}
.main_category .main_cate_li .cate_count{
	font-size: 12px;
	font-family: 'Nanum Gothic', sans-serif;
}
.main_category .main_cate_li .count{
	color:#25a4f4;
	font-weight: bold;
	font-size: 14px;
}
/* mainpage_cont 메인페이지 업소정보 */
.mainpage_cont{
	margin-bottom: 0;
	padding:25px 3% 10px;
	background-color: #f9f9f9;
}
/* cont_category 업소정보 카테고리 */
.mainpage_cont .cont_category{
	margin-bottom: 3%;
}
.cont_category .cont_cate_ul{
	text-align:center;
}
.cont_category .cont_cate_li{
	display:inline-block;
	padding:3px 3px 5px;
	margin:0 2.4% 3%;
	font-size:16px;
	font-family: 'Nanum Gothic' ,sans-serif;
	border-bottom: 2px solid transparent;
}
.cont_category .active{
	color: #25a4f4;
	border-bottom-color: #25a4f4;
	font-weight:600;
}
/* .cont_list 메인페이지 업소정보 리스트 */
.cont_list {
	display:none;
}

.cont_list.active {
	display:block;
}

.cont_list .cont_list_ul{
	overflow:hidden;
}
.cont_list .cont_list_li{
	width:49%;
	margin-bottom: 3%;
	background-color:#fff;
	box-shadow: 1px 1px 3px rgba(6, 69, 109, 0.1);
	position: relative;
	border-radius:3px;
	overflow:hidden;
}
.cont_list .cont_list_li:nth-child(2n+1){
	float:left;
}
.cont_list .cont_list_li:nth-child(2n){
	float:right;
}
.cont_list .cont_list_li img{
	width:100%;
	margin-bottom: 5px;
	height: 30.7vw;
	max-height: 129px;
	min-height: 98px;
}
.cont_list .cont_list_li figcaption{
	padding:0 8px 14px;
	height:60px;
}
.cont_list .cont_list_li .cont_title{
	font-size: 14px;
	margin-bottom: 6px;
	font-family: 'Jeju Gothic',sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap:break-word;
	line-height: 1.4;
	max-height: 2.8em;
}
.cont_list .cont_list_li .cont_text{
	width:100%;
	font-size: 13px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	font-family: 'Nanum Gothic',sans-serif;
}

.cont_list .cont_plus{
	box-shadow:none;
	background-color: transparent;
}

.cont_list .cont_plus .cont_title{
	text-align:center;
	font-size: 18px;
	color:#666;
}   
/* 메인페이지 자유게시판 */

.text_list {
	display:none;
}

.text_list.active {
	display:block;
}
.text_list .text_list_li{
	width: 100%;
	padding: 14px 3%;
	margin-bottom: 3%;
	box-sizing: border-box;
	/* border: 1px solid #ededed; */
	box-shadow: 1px 1px 3px rgba(6, 69, 109, 0.1);
	background-color: #fff;
}
.text_list .text_title{
	margin-bottom: 8px;
	font-size: 16px;
	/* font-family: 'Jeju Gothic', sans-serif; */
	line-height:1.5;
	/* text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden; */
}
.text_list .text_title strong{
	display: inline-block;
	max-width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: bottom;
	height:1.5em;
}
.text_list .text_title .comment_num{
	color:#25a4f4;
	
}
.text_list .text_cont{
	font-size:13px;
	line-height:1.4;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.text_list .text_plus{
	text-align:center;
}
.text_list .text_plus a{
	display: inline-block;
	width: 60%;
	padding: 5px 0;
	font-size: 16px;
	font-family: 'Jeju Gothic',sans-serif;
	color: #666;
}
.text_list .text_plus img{
	width: 30px;
	vertical-align: middle;
	margin-left: 5px;
}
.thum_box {
	float: left;
	padding: 0;
	box-sizing: border-box;
	overflow: hidden;
	border: 1px solid #ebebeb;
}

.thum_box img {
	min-height: 100%;
	width: 100%;
}
.text_list .thum_box{
	width: 50px;
	height: 50px;
	margin: 0 10px 0 0;
}
/* 메인페이지 업소정보 카테고리 layout 조정 */
@media screen and (max-width:355px) and (min-width:5px){
    .cont_category .cont_cate_li{       
        padding:3px 2px 5px;
        margin:0 1.5% 3%;       
    }
    
}

/*상점 list(2*2) 영역*/
.store_list ul{
	display: inline-block;
	width: 100%;
	margin-bottom: 3%;
}

.store_list ul:last-child{
	margin-bottom: 0;
}

.store_list ul li{
	width:49%;
	float: left;
	margin-right:2%;
}

.store_list ul li:nth-child(2n){
	margin-right:0;
}

.store_list ul li:nth-child(3),
.store_list ul li:nth-child(4){
	margin-bottom:0;
}

.store_list ul li a figure{
	display: inline-block;
	width:100%;
}

.store_list figure img{
	width:100%;
	margin-bottom:5%;
	border:1px solid #ededed;
	box-sizing: border-box;
	display:block;
}

.store_list figcaption{
	padding:0 3%;
	box-sizing: border-box;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.store_list figcaption h2{
	padding-top:2px;
	margin-bottom: 5%;
	color: #c21e5a;
	line-height: 20px;
	/*white-space: nowrap;*/
	/*overflow: hidden;*/
	/*text-overflow: ellipsis;*/
}

.store_list figcaption p{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	text-align: left;
	font-size: 12px;
	padding: 1px 0 5px;
	font-family: 'Nanum Gothic', sans-serif;
}

.store_list figcaption > span{
	display: block;
	font-size: 11px;
	padding-top:5px;
}


/* 상세페이지 이미지영역 */
.swiper-container-sub .swiper-button-white{
	width:44px;
	background-size: 45%;
}
.swiper-container-sub .swiper-button-next{
	background-position: right center;
}
.swiper-container-sub .swiper-button-prev{
	background-position: left center;
}
/*상세의 위치확인 클릭시(위치 텍스트) 영역*/
.store{
	padding:0;
	line-height: 1.6;
}
.store table{
	width:94%;
	margin:0 auto;
}

.store td{
	border:1px solid  #efefef;
	padding:2%;
	box-sizing: border-box;
	font-size: 13px;
	line-height: 1.6;
	/* font-family: 'Jeju Gothic', sans-serif; */ 
}

.store td.border{
	background-color: #ecf4f9;
}

/*상세의 위치확인 클릭시(대중교통,지도) 영역*/
.method table{
	width:100%;
	/* font-family: 'Jeju Gothic', sans-serif; */ 
}

.method table tr td{
	width:50%;
	border:1px solid #ededed;
	text-align: center;
	box-sizing: border-box;
	vertical-align: middle;
	font-size: 13px;
}

.method table tr td.active{
	background-color:#ecf4f9;
}

.method table tr td figure{
	width:100%;
	display: inline-block;
}

.method table tr td figure img{
	width:18%;
	vertical-align: middle;
}

.method table tr td figure figcaption{
	display: inline-block;
}

.method a img {
	width:100%;
	border:1px solid #ededed;
}

/*자유게시판,이벤트 클릭해서 들어갔을때 제목영역*/
.notice_title > h2,
.notice_title > div{
	font-size: 18px;
	line-height: 1.4;
	font-family: 'Noto Sans', sans-serif;
	word-break: keep-all;
	padding: 0 3%;
	margin-bottom: 8px;
}

/*자유게시판 클릭해서 들어갔을때 컨텐츠영역*/
.content {
	margin-bottom: 6%;
	padding: 0 3%;
}

.content .contents-view{
	margin-bottom: 6%;
	background-color: #fff;
}
.content .contents-view .contents-view-img{
	text-align: center;
}
.content .post-content {
	border:1px solid #ededed;
	padding: 5% 3%;
	line-height: 1.6;
	font-size: 15px;
	min-height: 80px;
}
.content .post-content div{
	max-width: 100%;
}
.content .autosize{
	position:relative;
	height: 0;
	padding-bottom: 56.25%;
	overflow: hidden;
	margin:0;
}
.content .cont_tab{
	margin-bottom: 0;
	padding:0;
}
.content .autosize iframe,
.autosize object,
.autosize embed{ 
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:100%;
}

/*공지사항 리스트 영역*/
/*  .notice_list table{
	width: 100%;
	border-top: 2px solid #231b26;
}

.notice_list table tr:nth-child(2){
	border-top:1px solid #231b26;
}

.notice_list table tr{
	border-bottom:1px solid #231b26;
}

.notice_list table tr th{
	padding:7px 0 3px;
	font-size: 12px;
	text-align:center;
	font-family: 'Jeju Gothic', sans-serif;
}

.notice_list table tr td{
	padding:7px 0;
	font-size: 11px;
	line-height: 17px;
	text-align:center;
}*/

.notice_list table{
	width: 100%;
	table-layout: fixed;
}

.notice_list table tr:nth-child(2n){
	background-color: #f8fafc;
}
.notice_list table td{
	border:1px solid #ededed;
	box-sizing: border-box;
	padding:5%;
}

.notice_list table td span{
	/* font-family: 'Jeju Gothic', sans-serif; */
	margin-right: 2%;
}

.notice_list table td h2{
	width: 100%;
	text-overflow:ellipsis;
	white-space:nowrap;
	overflow:hidden;
	padding-bottom: 3px;
	float: left;
	margin-bottom:1.5%;
	font-size:14px;
}

.notice_list table td p{
	font-size: 12px;
	color: #7e7e7e;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

/*이벤트 리스트 영역*/
.event_list li{
	width: 49%;
	margin-right: 2%;
	float: left;
	margin-bottom: 5%;
}

.event_list li:nth-child(2n){
	margin-right: 0;
}

.event_list  figure img{
	margin-bottom: 3%;
	width:100%;
}
.event_list figcaption{
	
}
.event_list figcaption h3{
	text-align:center;
	word-break: break-all;
	font-size: 14px;
	margin-bottom: 5%;
	padding-top: 2px;
	/* font-family: 'Jeju Gothic', sans-serif; */
	line-height:1.4;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	/* color: #c20e58; */
}

.event_list figcaption span{
	font-size: 12px;
	display:block;
	margin-top: 3%;
	color: #4d4d4d;
	font-family: 'Nanum Gothic',sans-serif;
	
}

/*시크릿 투어,비자,렌트 카 클릭시 배너 이미지*/
.botbn_img{
	position: relative;
}

.botbn_img img{
	width: 100%;
}

.botbn_img figcaption{
	position: absolute;
	width: 90%;
	height: 42px;
	top: 0;
	bottom:0;
	margin:auto;
	left: 5%;
	right: 5%;
}

.botbn_img figcaption p{
	font-size: 11px;
	margin-bottom: 2%;
	text-align:left;
	line-height: 14px; 
	color: #fff;
	/* font-family: 'Jeju Gothic', sans-serif; */
	text-shadow: 1px 1px 1px #000;
}

/*시크릿 투어,비자,렌트 카 클릭시 카카오톡 영역*/
.talk figure{
	margin:0 auto;
	text-align:center;
	display: inline-block;
	height: 45px;
}

.talk figure img{
	height: 45px;
	float: left;
	margin-right: 10px;
}

.talk figcaption{
	height: 45px;
	display: inline-block;
}

.talk figcaption h2{
	font-size: 20px;
	text-align:left;
	float: left;
	line-height: 16px;
	color: #25a4f4;
	/* font-family: 'Jeju Gothic', sans-serif;  */
	padding:10px 0 0;
	box-sizing: border-box;
}

.talk figcaption h2 span{
	font-size: 12px;
	color: #000;
	display: block;
}

.talk p{
	height: 45px;
	padding:8px 0 0;
	box-sizing: border-box;
	font-size: 12px;
	line-height:18px;
	text-align:right;
	float: right;
	display: inline-block;
	color: #525252;
}

/*시크릿 투어,비자,렌트 카 클릭시 글쓰기 영역*/
.write_area input{
	width: 100%;
	outline: none;
	padding:5px;
	border:1px solid #ededed;
	box-sizing: border-box; 
	border-radius: 0;
}

.write_area div.form-group {
	margin:3% 0;
}

.write_area textarea{
	width: 100%;
	height: 150px;
	outline: none;
	padding:5px;
	border:1px solid #ededed;
	box-sizing: border-box;
	border-radius: 0;
	font-size:15px;
	line-height:1.4;
	font-family: 'Nanum Gothic', sans-serif;
	resize: none;
}

.write_area label{
	text-align: right !important;
}

/* 시크릿 투어,비자,렌트 카 클릭시 작성완료 버튼 영역 */
.write_area button{
	width: 100%;
	height: 36px;
	border-radius: 2px;
	border: 0;
	outline: none;
	font-size: 18px;
	font-family: 'Noto Sans',Arial, sans-serif;
	color: #fff;
}

/*시크릿 투어,비자,렌트 카 클릭시 댓글 검색 영역*/
.inquire{
	margin-bottom: 0;
}
.inquire .form-group{
	width: 100%;
	margin:3% 0; 
}

.inquire .form-group input{
	height: 27px;
	padding:5px;
	box-sizing: border-box;
	border-radius: 0;
	border:1px solid #ededed;
}

.inquire .form-group button{
	width: 27px;
	height: 27px;
	border:0;
	outline: none;
	padding:0;
	float: right;
}
.inquire ul li{
	padding: 3% 3% 0;
	box-sizing: border-box;
	display: inline-block;
	width: 100%;
	position: relative;
}
.inquire li .table-box{
	padding: 8px 3%;
	position: relative;
}
.inquire .q_tit{
	width:72%;
	margin-right: 3%;
	max-height: 2.8em; 
	font-size: 16px;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap:break-word;
	line-height: 1.4;
	float: left;
	margin-bottom: 3%;
	padding-bottom: 0;
}

.inquire .question{
	 display: none;
}

.inquire li .clear p{
	float: right;
	padding-top: 4px;
	height: 20px;
	font-size: 12px;
}

.inquire li span{
	position: absolute;
	top: 10px;
	right: 3%;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.inquire form li span.color{
	color: #25a4f4;
}

.inquire form li .clear{
	width: 100%;
	display: inline-block;
	position: relative;
	bottom:-5px;
}

.inquire .question div.question-content{
	display: inline-block;
	margin: 3% 0 5%;
	width: 100%;
	line-height:1.6;
	font-size:14px;
}

.inquire .question ul{
	width: 97.5%;
	margin:0 0 0 2.5%;
}

.inquire .question ul li{
	border:0;
	font-size: 14px;
	/*background:url(https://secretvt.com/assets/images/temp/write_img/reply_arrow.png) no-repeat top left;*/
	background-size: 6%;
	padding-top:2px;
	line-height: 1.6;
	margin-bottom: 3%;
	display: inline-block;
	width: 100%;
}
.inquire .question ul li p{
	margin-bottom: 10px;
}
.inquire .question ul li div.question-content{
	margin-bottom:1.5%;
	margin-top: 0;
}

.inquire .button{
	width: 45%;
	float: right;
}

.inquire .button button{
	width: 32%;
	text-align:center;
	/* border: 1px solid #25a4f4; */
	border: none;
	border-radius: 3px;
	/* background:#fff; */
	font-size: 11px; 
	padding: 2px 0 1.5px;
	float: left;
	font-weight: bold;
	/* color:#25a4f4; */
	outline: none;
	margin-right: 3%;
}

.inquire .button button:last-child{
	margin-right: 0%;
}

.inquire .question .button{
	width:33%;
}

.inquire .question .button button{
	width:48.5%;
}

/*시크릿 투어,비자,렌트 카 클릭시 주의사항 영역*/
.caution{
	margin-bottom: 20px;
	overflow: hidden;
	padding: 3% 3% 0;
}
.caution .tit{
	margin-bottom: 3%;
	color: #25a4f4;
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 14px;
}

.caution li{
	display: inline-block;
	width: 100%;
	font-size: 11px;
	line-height: 17px;
	margin-bottom: 2%;
	color: #5d5d5d;
}

.caution strong{
	float: left;
	height: 35px;
}

.caution p{
	width: 97%;
	display: inline-block;
	font-size: 12px;
	float: right;
	line-height: 1.6;
}

/*업소후기의 컨텐츠 영역*/
.contents-view .document{
	border:1px solid #ededed;
	padding:3% 5%;
	line-height: 18px;
}

/* 로그인 화면 영역 */
.enter{
	margin-bottom: 5%;
	text-align:center;
}

.enter img{
	width: 25%;
	margin-bottom: 3%;
}

.enter h2{
	margin-bottom:6%;
	font-size:18px; 
	color:#469ed7;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.enter span{
	display: block;
	line-height: 18px;
	margin-top: 8px;
	font-size: 13px;
	color: #000;
}

.enter .id_pw{
	width: 230px;
	display: inline-block;
	margin:0 auto;
}

.enter .id_pw li{
	width: 100%;
	display: inline-block;
	margin-bottom:3%;
}
.enter .id_pw li h3{
	width: 60px;
	height: 25px;
	text-align: right;
	font-size: 14px;
	line-height: 26px;
	float: left;
	display: inline-block;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.enter .id_pw li input{
	width: 160px;
	height: 25px;
	padding:3px 5px;
	border:1px solid #ededed;
	box-sizing: border-box;
	border-radius: 0;
	outline: none;
	float: right;
}

.enter .id_pw label.error{
	
	text-align: center;
	margin-top: 3%;
}

.enter .login_re{
	
	margin:3% auto 6%;
	height: 17px; 
}

.enter .login_re input[type="checkbox"]{
	
}

.enter .login_re label{
	line-height: 14px;
}

.enter .alert-dismissible{
	width: 80%;
	margin:0 auto 6%;
	font-size: 11px;
	line-height: 17px;
}

.enter .login_btn input[type="submit"]{
	width: 65%;
	height: 30px;
	margin-bottom: 20px;
	border-radius: 2px;
	border:0;
	outline:none;
	background: #25a4f4;
	/* font-family: 'Jeju Gothic', sans-serif; */
	color: #fff;
}

.enter .login_sign{
	width: 97%;
	margin:0 auto;
}

.enter .login_sign li{
	width: 50%;
	float: left;
	text-align: center;
	font-size: 13px;
	line-height: 1.4;
	border-right: 1px solid #ededed;
	padding:0 2%;
	box-sizing: border-box;
}

.enter .login_sign li> a > span{
	margin-top: 6%;
	display: block;
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 15px;
}

/*업소후기,자유게시판 리스트  영역*/
.txt_list{
	width: 100%;
	display: inline-block;
	padding:12px 3%;
	margin-bottom: 3%;
	box-sizing: border-box;
	background-color:#fff;
	border:1px solid #ededed;
}
.txt_list h2{
	max-width: 100%;
	padding-top: 2px;
	margin-bottom:10px;
	font-size: 16px;
	/* font-family: 'Jeju Gothic', sans-serif; */
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow:hidden;
}
.txt_list div{
	max-width:100%;
	box-sizing:border-box;
	margin-bottom: 12px;
	overflow:hidden; 
	padding-left: 2%;
	text-align: left;
	font-size: 13px;
	text-overflow: ellipsis;
}
.txt_list div p{
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden; 
	}
.txt_list span{
	float: right;
	font-size: 12px;
	/* font-family: 'Jeju Gothic', sans-serif; */
	padding-top: 2px;
	color:#333;
}
/* 자유게시판 게시물에 사진 있을시 썸네일 추가 */
.txt_list .thum_box {
	width: 67px;
	height: 67px;
	margin: 0 10px 0 0; 
	padding: 0;
}
/* 자유게시판 인기게시물 hot 표시 */
.lab_hot {
	display: inline-block;
	float: none;
	font-size: 10px;
	line-height: 10px;
	background-color: #f00;
	padding: 3px 2px 1px;
	color: #fff;
	margin-right: 5px;
	vertical-align: top;
	border-radius: 3px;
}

/*자유게시판 리스트 찾기 영역*/
.find_list{
	margin-bottom: 3%;
}

.find_list input[type="text"]{
	height: 30px;
	padding:5px;
	box-sizing: border-box;
	border:1px solid #ededed;
}

.find_list button{
	width: 30px;
	height: 30px;
	border:0;
}

/*광고 영역(공통)*/
.ad{
	clear: both;
	padding:0;
	background-color:#f4f4f4;
}

.ad a img{
	width:100%;
	border-top: 1px solid #ededed;
	border-bottom:1px solid #ededed;
	box-sizing: border-box;
	margin-bottom: -4px;
}

/*이메일주소로 계정찾기 영역*/
.login_find figure{
	text-align: center;
}

.login_find img{
	width: 40%;
	margin-bottom:3%; 
}

.login_find figcaption{
	line-height: 1.6;
	margin-bottom: 6%;
	font-size: 14px;
}

.login_find .mail_find{
	width: 300px;
	margin:0 auto;
}

.login_find .mail_find input{
	width: 205px;
	height: 25px;
	padding:3px 5px;
	border:1px solid #ededed;
	box-sizing: border-box;
	border-radius: 0;
	outline: none;
	float: left;
}

.login_find .mail_find button{
	width: 90px;
	height: 25px;
	border:0;
	outline: none;
	border-radius: 5px;
	color: #fff;
	background-color: #25a4f4;
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 12px;
	float: right;
	line-height: 26px;
}

.login_find .mail_error{
	font-size: 11px;
	text-align: center;
	color: #eb2328;
	margin-bottom: 3%;
}

/*myinfo 의 정보 영역 */
.myinfo{
	margin-bottom: 10px;
	padding: 10px 3%;
	overflow: hidden;
}
.info_area img{
	/* display:none; */
	height: 70px;
	margin-right: 2%;
	float: left;
}

.info_area figcaption{
	/* padding-top: 14px;
	padding-left: 3%; */
}

.info_area figcaption h2{
	/* display: inline-block; */
	font-size: 24px;
	margin-bottom: 5px;
	
}

.info_area figcaption p{
	/* display: inline-block; */
	font-size: 12px;
}

.info_area figcaption strong{
	font-size: 14px;
	color: #009223;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.info_level{
	width: 80px;
	height: 25px;
	margin-top: 5px;
	font-size: 12px;
	line-height: 28px;
	display: inline-block;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.info_level img{
	width: 25px;
	float: left;
}

.myinfo button{
	float: right;
	width: 110px;
	height: 22px;
	letter-spacing: 1px;
	color:#fff;
	border:0;
	outline: none;
	background-color: #232121;
	border-radius: 5px;
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 11px;
	margin-top: 10px;
}

/*myinfo 의 내정보,작성글,정보수정,탈퇴하기 영역*/
.info_table{
	margin-bottom: 24px;
	padding: 0 3%;
}
.info_table table{
	width: 100%;
	border-spacing: 0;
}

.info_table td{
	position: relative;
	width: 1%;
	padding: 2.5% 0;
	text-align: center;
	font-size: 14px; 
	color: #333;
	border: 1px solid #ededed;
	border-right: none;
	
}
.info_table td a{
	display: inline-block;
	min-width: 70%;
}
.info_table td:last-child{
	border-right: 1px solid #ededed;
}
.info_table td.active{
	background-color: #fffcef;
	font-weight: bold;
}
.info_table .lab_notification{
	top: 6px;
	left: 70%;
}
/*myinfo 의 내정보 영역*/
.mypage{
	min-height: calc(100vh - 114px);
	overflow: hidden;
	background-color: #fff;
}
.mypage .table_01{
	margin: 0 3% 10%;
}
.table_01 li{
	border-bottom:1px solid #ededed;
	padding: 8px 3%;
	box-sizing: border-box;
	font-size: 14px;
}

.table_01 strong{
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.table_01 p{
	float: right;
}
.mypage .btn{
	font-size: 14px;
	padding:5px 10px 4px;
	margin-right:3px;
	/* font-family:'Jeju Gothic',sans-serif; */
}
.mypage .btn:last-child{
	margin-right:0;
}
/*myinfo 의 작성글 영역*/
.table_02{
	margin: 0 3% 10%;
}
.table_02 table{
	width: 100%;
	border-top: 2px solid #009223;
}

.table_02 td,
.table_02 th{
	text-align: center;
}

.table_02 th{
	padding: 9px 0 7px;
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 14px;
	border-bottom: 1px solid #ddd;
}

.table_02 td{
	font-family: 'Nanum Gothic', sans-serif;
	font-size: 13px;
	padding: 1.5% 0 2%;
	line-height: 1.4;
	border-bottom:1px solid #ededed;
}
.table_02 td img{
	margin-top: 5px;
}
/*myinfo 의 정보수정,탈퇴하기(비밀번호입력),정보수정완료 영역*/
.info_logout{
	text-align: center;
}
.info_logout figure{
	text-align: center;
	margin-bottom: 10%;
}

.info_logout figure img{
	width: 35%;
	margin-bottom: 3%;
}

.info_logout figcaption h2{
	/* font-family: 'Jeju Gothic', sans-serif; */
	color: #25a4f4;
	font-size: 15px;
	margin-bottom: 3%;
}

.info_logout figcaption b{
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 15px;
}


.info_logout figcaption,
.info_logout figcaption p{
	line-height: 18px;
}

.info_logout button{
	width: 40%;
	height: 30px;
	background-color: #25a4f4;
	border: 0;
	border:0;
	border-radius: 3px;
	color: #fff;
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 12px;
	box-sizing: border-box;
	line-height: 25px;
}

.info_logout button a{
	color: #fff;
	height: 28px;
	line-height: 28px;
	padding: 0!important;
	border: none;
}

.logout_pw{
	text-align: center;
	display: inline-block;
}

.logout_pw .logout_alert{
	color: #eb2328;
	text-align: center;
	margin-bottom: 3%;
	font-size: 11px;
	display: inline-block;
	width: 100%;
}

.logout_pw label{
	width: 60px;
	height: 25px;
	line-height: 26px;
	float: left;
	display: inline-block;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.logout_pw input{
	width: 170px;
	height: 25px;
	padding:3px 5px;
	border:1px solid #ededed;
	box-sizing: border-box;
	border-radius: 0;
	outline: none;
	float: left;
	margin-right: 5px;
}

.logout_pw button{
	width: 60px;
	/*height: 25px;
	outline: none;
	background-color: #0c1e42;
	border:0;
	border-radius: 5px;
	color: #fff;
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	float: left;
	line-height: 25px;*/
}

/*myinfo 의 회원정보수정 의 li 영역*/
.info_modify ol{
	margin-bottom: 6%;
	border:1px solid #ededed;
	box-sizing: border-box;
}

.info_modify ol li{
	width: 100%;
	display: inline-block;
	text-align: center;
	border-bottom:1px solid #ededed;
	text-align: center;
}

.info_modify ol li:last-child{
	border-bottom:0;
}

.info_modify ol li span{
	display: inline-block;
	width: 20%;
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 14px;
	float: left;
	padding:2.5% 0;
}

.info_modify ol li div{
	float: right;
	width: 80%;
	/* font-family: 'Jeju Gothic', sans-serif; */
	box-sizing: border-box;
	padding:2.5% 2%;
	border-left: 1px solid #ededed;
	text-align: left;
}


.info_modify ol li div a{
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 13px;
	color: #c21e5a;
}

.info_modify ol li div p{
	font-size: 11px;
	color: #9d9d9d;
	display: inline-block;
	margin-top: 6px;
	font-family: 'Nanum Gothic', sans-serif;
}

.info_modify button{
	float: right;
	width: 30%;
	height: 30px;
	outline: none;
	border-radius: 3px;
	border:0;
	background-color: #25a4f4;
	color:#fff;
	font-family:'Jeju Gothic', sans-serif;
}

/*myinfo 의 정보수정의 패스워드 수정 클릭시 영역*/
.modify_pw .pw_alert{
	text-align: center;
	color: #eb2328;
	margin-bottom: 3%;
	display: inline-block;
	width: 100%;
	font-size:11px;
}

.modify_pw form{
	width: 300px;
	margin:0 auto;
}

.modify_pw ol li{
	width: 100%;
	display: inline-block;
	margin-bottom: 3%;
}

.modify_pw ol li h3{
	width: 100px;
	height: 25px;
	font-size:14px;
	line-height: 26px;
	text-align: right;
	float: left;
	display: inline-block;
	/* font-family: 'Jeju Gothic', sans-serif; */
}

.modify_pw ol li strong{
	width: 180px;
	height: 25px;
	/* font-family: 'Jeju Gothic', sans-serif; */
	float: right;
	line-height: 25px;
	text-align: center;
}

.modify_pw ol li input{
	border:1px solid #ededed;
	width: 180px;
	height: 25px;
	padding:3px 5px;
	box-sizing: border-box;
	border-radius: 0;
	outline: none;
	float: right;
}

.modify_pw button{
	float: right;
	margin-top: 3%;
	height: 25px;
	outline: none;
	background-color: #25a4f4;
	border:0;
	border-radius: 3px;
	color: #fff;
	/* font-family: 'Jeju Gothic', sans-serif; */
	font-size: 12px;
	box-sizing: border-box;
	line-height: 25px;
}

.modify_pw label.error{
	text-align: center;
	
	margin-top: 3%;
}
/* 마이페이지 스크랩 */
.scrap_list{}
.scrap_list>h3{
	font-size:12px;
	margin-bottom: 3%;
	font-family: 'Nanum Gothic',sans-serif;
}
.scrap_list>h3 small{
	font-size: 14px;
	font-weight: 500;
	padding-left: 3px;
	font-weight: bold;
	color:#25a4f4;
}
.scrap_list .gallery-box{
	position: relative;
	padding:0;
}
.scrap_list .gallery-box .scrap_img{
	width:25%;
	overflow:hidden;
}
.scrap_list .gallery-box img{
	width:130%;
	display:block;
	border-bottom: none;
}
.scrap_list .gallery-box h2{
	margin-left:0;
	margin-top: 14px;
	font-size: 16px;
}
.scrap_list .gallery-box .sub_subject{
	font-size: 14px;
}
.scrap_list .gallery-box .scrap_heart{
	display: block;
	padding: 7px;
	position: absolute;
	top:50%;
	right:0;
	margin-top:-18px;
}

/*업소후기,글쓰기 클릭시 후기갯수 표시 영역*/
.title03 p{
	font-size: 13px;
	display: inline-block;
	float: right;
	font-family: 'Noto Sans',Arial, sans-serif;
	line-height: 24px;
	padding: 0 3% 3%;
}

.title03 p span{
	font-size: 14px;
	font-weight: bold;
	color: #009223;
}

/*업소후기,글쓰기 클릭시 후기 작성하기 버튼 영역*/
.title03 h3{
	display: inline-block;
	float: left;
	height: 16px;
	background-color: #25a4f4;
	color: #fff;
	line-height: 15px;
	border-radius: 3px;
	padding:5px 0;
	width: 25%;
	text-align: center; 
}

.title03 h3 a{
	/* font-family: 'Jeju Gothic', sans-serif; */
	color: #fff;
	font-size: 13px;
}

/*업소후기,글쓰기 작성영역의 작성자 정보 영역*/
.write_info figure{
	background-color: #ecf4f9;
	padding:3px 20px;
	box-sizing: border-box;
	border-radius:5px;
	overflow:hidden;
}

.write_info figure img{
	height: 47px;
}

.write_info figcaption{
	/* font-family: 'Jeju Gothic', sans-serif; */
	float: right;
	padding:7px 0;
	
}

.write_info figcaption h2{
	font-size: 18px;
	margin-bottom: 3px;
}

.write_info figcaption span{
	font-size: 11px;
}

/*업소후기,글쓰기 작성영역의 제목 영역*/
.write_title label.label_title{
	width: 60px;
	height: 25px;
	line-height: 26px;
	background-color: #25a4f4;
	display: inline-block;
	color: #fff;
	text-align:center;
	/* font-family: 'Jeju Gothic', sans-serif; */
	float: left;
}

.write_title input.text_title{
	height: 25px;
	padding:3px 5px;
	box-sizing: border-box;
	font-size:15px;
	border-radius: 0;
	outline: none;
	border:1px solid #ededed;
}

/*업소후기,글쓰기 작성영역의 글쓰기 영역*/
.write_cont textarea{
	width: 100%;
	height: 300px;
	padding:10px;
	overflow: auto;
	box-sizing: border-box;
	outline: none;
	resize: none;
	border-radius: 0;
	font-size:15px;
	line-height:1.6;
	border:1px solid #ededed;
}

/*업소후기,글쓰기 작성영역의 업로드,링크 영역*/
.write_upload label{
	width: 70px;
	height: 25px;
	margin-right: 10px;
	line-height: 26px;
	border-radius: 3px;
	background-color: #25a4f4;
	display: inline-block;
	color: #fff;
	text-align:center;
	/* font-family: 'Jeju Gothic', sans-serif; */
	float: left;
}

.write_upload input{
	height: 25px;
	padding:3px 5px;
	border:1px solid #ededed;
	box-sizing: border-box;
	border-radius: 0;
	outline: none;
	background-color: #fff;
	float: right;
	margin-bottom: 10px;
}

.write_upload input[type="file"]{
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	margin: -1px;
	overflow: hidden;
	clip: rect(0,0,0,0);
	border:0;
}

/*업소후기,글쓰기 작성영역의 작성완료 취소 영역*/
.write_clear{
	text-align: right;
}

.write_clear button{
	width: 100px;
	height: 30px;
	line-height: 29px;
	border-radius: 3px;
	display: inline-block;
	color: #fff;
	text-align: center;
	/* font-family: 'Jeju Gothic', sans-serif; */
	border: 0;
}
.write_clear button[type="submit"]{
	background-color: #25a4f4;
}
.write_clear button.btn-history-back{
	background-color: #b7c2c8;
}
.write_clear button:first-child{
	margin-right: 5px;
}

/*업소후기,글쓰기 의 수정시 업로드 삭제&파일명 영역*/
.write_del{
	padding:0 6%;
}
.write_del a{
	float: left;
}

.write_del label{
	float: right;
}

.write_del input{
	margin: 2px 0px 2px 5px;
	float: right;
}

/*자유게시판의 댓글 작성 영역*/
.reply_write h2{
	/* font-family: 'Jeju Gothic', sans-serif; */
	margin-bottom: 1.5%;
}

.reply_write textarea{
	width: 100%;
	height: 50px;
	padding:5px;
	border: 1px solid #e8e8e8;
	box-sizing: border-box;
	overflow: auto;
	resize: none;
	outline: none;
}

.reply_write button{
	font-family: 'Jeju Gothic',sans-serif;
}

/*자유게시판의 댓글 리스트 영역*/
.reply_msg{
	margin-bottom: 3%;
}

.reply_list{
	width: 100%;
	border-bottom:1px solid #ededed;
	margin-bottom:6%;
	display: inline-block;
}

.reply_list img{
	width: 15px;
	float: left;
}

.reply_list .reply_cont{
	margin-bottom: 3%;
	line-height:20px;
}

.reply_list .reply_info{
	font-size: 11px;
	text-align: right;
	/*margin-bottom: 3%;*/
}

.reply_list .reply_edit{
	float: right;
	margin-left: 1.5%;
}
.media-body .reply a{
	display: inline-block;
	margin-right: 4px;
}
.media-body .reply a:last-child{
	margin-right: 0;
}
/*전체목록 영역 post button*/
/* .cont_tab a{
	font-family: 'Jeju Gothic', sans-serif;
	font-size: 12px;
} */

/*이용약관,개인정보,위치정보 내용 영역*/
.agree{
	padding:3%;
	box-sizing: border-box;
	line-height: 13px;
	font-size: 12px;
	border: 1px solid #ededed;
}


.login_sns{
	margin-bottom: 10%;
	overflow:hidden;
}
.login_sns .login_sns_ul{
	text-align:center;
}
.login_sns .btn_sns{
	display:inline-block;
	box-sizing:border-box;
	/*width: 12%;*/
	margin-right: 3%;
	padding:3px;
	border-radius: 3px;
	font-family:'Jeju Gothic',sans-serif;
	overflow:hidden;
}
.login_sns .btn_sns:last-child{
	margin-right:0;
}
.login_sns .btn_login_kakao{
	background-color:#fbe03b;
	color:#3a1e1f;
	
}
.login_sns .btn_login_naver{
	background-color:#2ec531;
	color: #fff;
}
.login_sns .btn_login_google{
	background-color:#da4a3e;
	color: #fff;
}
.login_sns .btn_sns img{
	display:block;
	width:100%;
	margin-bottom:0;
}
.login_sns .btn_sns figcaption{
	width:1px;
	height:1px;
	position:absolute;
	overflow:hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

/**
    board skin css
*/

.board .table{border-top: 2px solid #000;border-bottom: 1px solid #ccc;}
.border_button{overflow:hidden; margin-bottom: 20px;}
.board .comment-count a{color:#348fe2;padding-left:10px;}
.board .info{overflow:hidden;}
.board .info li{float:left; padding-right:20px;}
.board .contents-view{ clear:both;}
.board .contents-view-img img { display:block; max-width:100%; margin:0 auto 15px; border:0; height:auto; }
#post-content {word-wrap: break-word;border-top:1px solid #ededed;border-bottom:1px solid #ededed;padding:3%;}
#post-content p{line-height: 1.6;/* 21px; */}
#post-content img {max-width:100%;}

.board .fa-user{color:#626262;}
.board .fa-comments{color:#626262;}
.board .fa-eye{color:#626262;}
.board .fa-thumbs-up{color:#626262;}
.board .fa-thumbs-down{color:#626262;}
.board .fa-clock-o{color:#626262;}
.board .fa-reply{color:#626262;}
.board .gallery .thumbnail{margin-bottom:10px;}
.board .recommand{text-align:center;margin-bottom:20px;}
.board .recommand img{padding-top: 7px;}
.board .recommand a:hover{background:#348fe2; color:#fff; text-decoration:none;}
.board .recommand .good{background:#e9e9e9; width:50px; height:50px; display:inline-block; border-radius:50px; padding:8px; margin:0 10px;}
.board .recommand .bad{background:#e9e9e9; width:50px; height:50px; display:inline-block; border-radius:50px;padding:6px; margin:0 10px;}
.board .passcord{text-align:center;}
.board .passcord{clear: both;padding-top: 20px; text-align:center;}
.board .passcord img{vertical-align:middle;}

.board .like {padding-top:20px;}
.board .like a{text-decoration:none;}
.board .time{font-size:12px; padding-left:10px;}
.board .tags a{font-size:12px; padding-left:5px;}
.board .reply{float:right; font-size:12px;}
.board .reply a{padding-left:5px;}
.board .ip{font-size:12px; padding-left:10px;}
.board .tags li{float:left; padding-right:10px;}
.board .sns_button div {float:left; padding-right:5px;}
.board .information{overflow:hidden;}
.board .information li{float:left; padding-right:20px;}
.board .border_button { overflow: hidden; }
.board .well {padding:20px;overflow: hidden;background: #f5f5f5; }
.board .well img{ vertical-align:middle; }
.board .btn-point-info {padding-top:3px;color:#BBB;font-size:16px;}

.board .view_full_image {cursor:pointer;}
.board .btn-admin-manage-layer { display:none;border:1px solid #ddd;position:absolute;background-color:#fff;z-index:99999; }
.board .btn-admin-manage-layer div.item { height:23px;border-bottom:1px solid #ddd; cursor:pointer;padding-left:2px;padding-right:10px; }
.board .btn-admin-manage-layer div.item { font:normal 11px 'dotum';line-height:23px; }
.board .btn-admin-manage-layer div.item i { width:20px;text-align:center; }

.wrap .view_full_image {cursor:pointer;}
.wrap .btn-admin-manage-layer { display:none;border:1px solid #ddd;position:absolute;background-color:#fff;z-index:99999; }
.wrap .btn-admin-manage-layer div.item { height:23px;border-bottom:1px solid #ddd; cursor:pointer;padding-left:2px;padding-right:10px; }
.wrap .btn-admin-manage-layer div.item { font:normal 11px 'dotum';line-height:23px; }
.wrap .btn-admin-manage-layer div.item i { width:20px;text-align:center; }

.board .autowrap { margin:0 auto 15px; }
.board .autosize { position:relative; height: 0; padding-bottom: 56.25%; overflow: hidden; margin:0; }
.board .autosize iframe, .autosize object, .autosize embed { position: absolute; top: 0; left: 0; width: 100%; height:100%; }

.board .table-top {padding-bottom: 10px;}
.board .table-top input{margin-bottom: 0;margin-top: 0;}
.board .table-top li{float: left;text-align: center;padding-right: 5px;}
.board .progress { overflow: hidden;height: 20px;margin-bottom: 20px;background-color: #f5f5f5;border-radius: 4px;-webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);box-shadow: inset 0 1px 2px rgba(0,0,0,.1);background-image: -webkit-linear-gradient(top,#ebebeb 0,#f5f5f5 100%);background-image: linear-gradient(to bottom,#ebebeb 0,#f5f5f5 100%);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);}
.board .progress-bar {float: left;width: 0;height: 100%;font-size: 12px;line-height: 20px;color: #fff;text-align: center;background-color: #428bca;-webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);-webkit-transition: width .6s ease;transition: width .6s ease;background-image: -webkit-linear-gradient(top,#428bca 0,#3071a9 100%);background-image: linear-gradient(to bottom,#428bca 0,#3071a9 100%);background-repeat: repeat-x;filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);}
.board .sr-only {position: absolute;width: 1px;height: 1px;margin: -1px;padding: 0;overflow: hidden;clip: rect(0,0,0,0);border: 0;}
.board .poll-result { padding-bottom: 10px; }

.writeform {font-size:12px;}
.writeform li {display: block;margin: 0px; clear: both; margin-bottom: 15px;}
.writeform li>span {float: left;width: 13%;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}

.lucky {font-size:11px;}
.lucky .luckypoint{color:#E71A41;}

.px70 {width:70px;}
.px100 {width:100px;}
.px150 {width:150px;}
.px400 {width:400px;}


.board .searchbox {display:none;}

.board .copy_post_url {cursor:pointer;}

.commenttextarea {width:74%;}
textarea.post_content  {width:90%;height:350px;margin:0 20px;}
.poll_item_area {padding-left:228px;}
.poll_item_area input {width:400px;}

.confirm_password li {display: block;margin: 0px; clear: both; margin-bottom: 15px;}
.confirm_password li>span {float: left;width: 25%;text-align: right;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}

.table-image{overflow: hidden;clear: both;}
.table-image ul{margin-bottom: 3%;overflow:hidden;}
.table-image ul:last-child{margin-bottom: 0;}
.table-image .gallery-box {float:left;}


.point-info{position:relative;}
.point-info-content {display:none;position:absolute; right:30px;top:0;z-index:9999;width:200px;}
.chk_comment_all_wrapper {padding:10px;}
.comment_write_box_inner {margin-top:0px; padding:20px;}

#comment_write_box li {display: block;margin: 0px; clear: both; margin-bottom: 15px;}
#comment_write_box  li>span {float: left;
    width: 25%;text-align: right;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}
.comment_write_button_area {margin-top:20px;overflow:hidden;}

.board .url-qrcode {position:relative;cursor:pointer;}
.board .url-qrcode i {margin:3px 0 0 5px;}
#qrcode-content {display:none;position:absolute;background-color:#FFF;border:2px solid #DDD;padding:10px;width:240px;}
#qrcode-content .qrcode_code {border:5px solid #479BE3;float:left;}
#qrcode-content .qrcode_code img {width:100px;height:100px;}
#qrcode-content .qrcode_info {float:left;margin:0 0 0 10px;width:90px;font-size:12px;line-height:18px;color:#555;}

label.error {color:#eb2328;display:inline-block ;font-size:11px; text-align: left; width: 100%; margin-top: 1.3%; text-indent: 2%;}

div.alert { font-size:11px;  line-height: 15px; text-align:center;}

textarea.input{height:100px;}
/*textarea.dhtmleditor {border: 1px solid #231b26; box-sizing:border-box; outline: 0 none; padding: 2%; background-color: #FFFFFF; background-image: none; width:100%; height:350px; overflow: scroll;}
*/select.input {height: 30px;}
.form-text{box-sizing: border-box;}
.checkbox-group{padding-top: 5px;}


.header_line {background: #082a47; height:3px; line-height:3px;clear: both; width:100%;}

/*header 의 로고,회원가입,로그인 영역*/
header{
        width:100%;
        max-width: 420px;
        min-width: 320px;
        
    }
body.over_hidden{overflow:hidden} 


.table-box {overflow:hidden;margin: 0 auto;}
.table-box .table-heading {color: #333;background-color: #f5f5f5;font-size: 14px;padding: 10px 15px;border-top-right-radius: 3px;border-top-left-radius: 3px;position:relative;}
.table-body textarea {padding: 3%;background: #f7f7f7;font-size: 12px;margin-top: 10px;width: 93%;}
.table{width:100%;border-collapse: collapse;border-spacing: 0;}
.table-body{border-collapse: collapse;border-spacing: 0; width: 100%;}

.table-footer {padding: 4% 0% 4%; width: 100%; text-align:center; background-color: #f5f5f5;border-top: 1px solid #ddd;border-bottom-right-radius: 3px;border-bottom-left-radius: 3px;overflow: hidden;}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {padding: 8px;line-height: 1.42857143;vertical-align: middle;border-top: 1px solid #ddd; text-align:center;}
.table-body>thead>tr>th, .table-body>tbody>tr>th, .table-body>tfoot>tr>th, .table-body>thead>tr>td, .table-body>tbody>tr>td, .table-body>tfoot>tr>td {padding: 8px;line-height: 1.42857143;vertical-align: top;border-top: 1px solid #ddd; }

.view-all {float: right;width: 75px;position: absolute;top: 10px;right: 0;}
.table>tbody:last-child{border-bottom: 1px solid #ccc;}
.table>thead{border-top: 2px solid #000;}
.table-top input{margin-bottom: 0;margin-top: 0;}

.thumbnail>img, .thumbnail a>img {margin-left: auto;margin-right: auto;display: block;max-width: 100%;}

/* left */
.left{float: left;width: 830px; margin-right: 20px;}
.table-answer{padding: 20px;}

.input-div{
    display:inline-block;
    width:70%;
}
/* backtop */
.back_top_m{
    position:fixed;
    bottom:15px;
    right:18px;
    z-index:900;
}
.comment-content{
    font-size: 15px;
     line-height: 1.6; 
}
.comment-content .fa-reply{
    color:#666;
}
/*
div {
    border:1px solid #000 !important;;
}*/

.cb_banner{
    width:100%;
}




