@charset "UTF-8";
/* animate */
@keyframes anititle01{
	0%{
		width: 0;
	}
	70%{
		width: 40px;
	}
	100%{
		width: 24px;
	}
}
/* main and point color */
/* 로즈골드:  #b08e72 */
/* 잉글리시그린 : #184f3b */
/* 노랑 : #ffce32 */
/* 연노랑 : #fffcef */
/* 그린 : #009223 */
/* 연두 : #61ce06 */
/* 오렌지 : #ff8300 */
/* border : #bababb */
/* 진한 붉은 갈색 : #32191a */
/* 배경 : #f7f0da */

/* blind 숨김 */
.container .blind,
.blind{
	width:1px;
	height:1px;
	position:absolute;
	overflow:hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}
/*  */
figure{
	margin: 0;
}
/* wrap */
.wrap{
}
.wrap01{
	padding-top: 54px;
}
.wrap02{
	padding-top: 30px;
}
.main{
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	min-height: calc(100vh - 64px); 
	background-color: #f4f4f4;
}
.main_box1{
	padding-right: 3%;
	padding-left: 3%;
	box-sizing: border-box;
}
.table-box{
	border-radius: 0;
	box-shadow: none;
}
/* btn */
.btn-blueline{
	background-color: #fff;
	border: 2px solid #01a5e2;
	padding: 2px 4px;
}
.pull-right .btn{
	margin-left: 3px;
}
.pull-left .btn{
	margin-right: 3px;
}
/* catebox 알레르기 유발성분 select box */
.select_cate_box{
	padding: 20px 0;
}
.select_cate_box .select_cate{
	width: 100%;
	height: 36px;
	border: 2px solid #bababb;
	font-size: 16px;
}
/* title */
/* title01 */
.main .title01{
	padding: 30px 0 0;
	text-align: center;
	font-size: 24px;
	font-family: 'Noto Sans',Arial,sans-serif;
	border-bottom: none;
	color: #0d4633;
}
.main .title01:after {
    content: '';
    display: block;
    width: 24px;
    height: 4px;
    background-color: #ffce32;
    margin: 6px auto 0;
	-webkit-animation: anititle01 0.4s ease-in 1;
	-o-animation: anititle01 0.4s ease-in 1;
	animation: anititle01 0.4s ease-in 1;
}
/* title 회사소개 */
.main .title02{
	width: 120px;
	padding-top: 30px;
	margin-bottom: 30px;
	white-space: nowrap;
	font-size: 28px;
	color: #000;
	font-family: 'Times New Roman',Times, serif;
	border-bottom: 2px solid #009223;
}
/* title 회사소개 소제목 */
.main .title03{
	font-size: 22px;
	font-family: 'Times New Roman', serif;
	font-weight: bold;
}

/* title04 검색결과 */
.main .title04{
	margin-bottom: 10px;
	padding: 0 3%;
	box-sizing: border-box;
	border: none;
	font-size: 15px;
	color: #32191a;
	font-family: 'Noto Sans',Arial,sans-serif;
}
.main .title04 .searchword{
	color: #343536;
	font-weight: bold;
	font-size: 18px;
}
/* title05 post */
.main .title05{
	margin: 0 3% 8px;
	width: auto;
	padding-top: 30px;
	font-size: 20px;
	font-family: 'Noto Sans',Arial, sans-serif;
	border-bottom: 1px solid #ddd;
	background-color: transparent;
}
/* title06 board,faq,gallery_list */
.main .title06{
	padding-top: 30px;
	padding-bottom: 8px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	background-color: #fff;
	font-family: 'Noto Sans',Arial,sans-serif;
}
/* title07 영양성분표 */
.main .title07{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	padding: 10px 0;
	border: none;
	font-family: 'Noto Sans',Arial,sans-serif;
	
}
/* title08 */
.main .title08{
	padding-top: 14px;
	font-size: 20px;
	font-weight: bold;
	font-family: 'Noto Sans',Arial,sans-serif;
}
/* title09  */
.main .title09{
	font-size: 26px;
	text-align: center;
	margin-bottom: 20px;
	font-family: 'Noto Sans',Arial,sans-serif;
}
.main .title09 .sub_tit{
	display: block;
	font-size: 18px;
	color: #009223;
}
/* title10 회원가입 */
.main .title10{
	font-size: 18px;
	font-weight: bold;
	background-color: #fff;
	border-bottom: 2px solid #009223;
}

/* header */
.header{
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 800;
	border-top: 3px solid #009223;
	border-bottom: 1px solid #ababad;
	box-shadow: none;
	
}
.header .logo{
	position:absolute;
	left: 50%;
	height: 0;
	margin: 0;
	transform: translateX(-50%);
}
.header .logo img{
	height: 50px;
}
.header .h_btn{
	width: 30px;
	padding-top: 10px;
}
.header .h_btn img{
	width: 100%;
}
.header .m_mypg{
	padding-left: 3%;
}
/* footer */
footer{
	background-color: #292929;
	border: none;
	padding: 15px 3% 30px;
}
footer .company{
	text-align: center;
}
footer .company li{
	display: inline-block;
	float: none;
	padding: 0;
}
footer .company a{
	display: inline-block;
	padding: 0 8px 0 4px;
	color: #fff;
	border-right: 1px solid rgba(255,255,255,0.5);
	padding: 0 8px 0 4px;
	line-height: 10px;
	display: inline-block;
}
footer .company li:last-child a{
	border-right: none;
}

/* side menu */
.menu{}
#side_menu .side_wr{
	background: #fff;
}
#side_menu .side_menu_top{
	background-color: #009223;
}
#side_menu .m_search .input{
	width: 94%;
	box-sizing: border-box;
	height: 28px;
	font-size: 15px;
}
#side_menu .m_login {
    text-align: center;
	margin: 0;
    padding: 0;
	border-bottom: 1px solid #009223;
	
}
#side_menu .m_login span{
	display: table-cell;
	width: 1%;
	line-height: 40px;
	border-right: 1px solid #009223;
	background-color: #ffce32;
}
#side_menu .m_login span:last-child{
	border-right: none;
}
#side_menu .m_login .btn{
	font-size: 15px;
	background-color: transparent;
	font-family: Arial,sans-serif;
	font-weight: bold;
	color: #000;
}
#side_menu .m_login .btn .fa{
	color: #009223;
	font-size: 22px;
	vertical-align: bottom;
}
#side_menu .m_search{
	padding:20px 0;
}
#side_menu .m_menu .dropdown{
	padding: 0;
}
#side_menu .dropdown .menu_category{
	display: inline-block;
	min-width: 80px;
	text-indent: 10px;
	font-size: 15px;
	color: #000;
	font-family: Arial,sans-serif;
}
#side_menu .dropdown .subopen{
	text-indent: 0;
}
#side_menu .dropdown .subopen .fa{
	color: #009223;
	transition: transform 0.2s;
}
#side_menu .dropdown .subclose .fa{
	color: #ffce32;
	transform: rotate(-180deg);
}
#side_menu .m_menu{
	margin-top: 20px;
}
#side_menu .m_menu li{
	border-color: #ddd;
}
#side_menu .m_menu li:first-child{
	border-top:none;
}
#side_menu .m_menu li:last-child .dropdown-menu{
	border-bottom: 1px solid #ddd;
}
#side_menu .m_menu .icon_back{
	position: static;
	display: inline-block;
	vertical-align:middle;
	width: 30px;
	height: 30px;
	margin-right: 10px;
	background-image:url(http://placehold.it/30x30);
	background-position:center;
	background-size: cover;
}
#side_menu .dropdown-menu{
	
}
#side_menu .dropdown-menu li a{
	padding-left: 60px;
	color: #32191a;
}
/* searchbox */
.main .search_box{
	border: none;
	background-color: transparent;
}
.sect_faq .search_box .input{
	box-sizing: border-box;
	height: 32px;
	width: calc(100% - 36px);
	font-size: 15px;
	border: 2px solid #bababb;
	border-radius: 0;
}
.board .search_area .btn,
.sect_faq .search_box .btn{
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	padding: 0;
	font-size: 16px;
	
}
.search_result .nav-tabs{
	border:none;
}
.search_result .search_box{
	border-radius: 0;
	border-top: 1px solid #bababb;
	border-bottom: 1px solid #bababb;
	background-color: #ffce32;
}
.search_result .media-box{
	margin-bottom: 30px;
	background-color: #fff;
	border-top: 1px solid #bababb;
}
.search_result .media{
	padding: 10px 3%;
	margin-top: 0;
	border-bottom: 1px solid #ddd;
}
.search_result .media-heading{
	font-size: 16px;
}
.searchbuttonbox{
	overflow: hidden;
}
/* .table_wrap FAQ Q&A*/
.table_wrap{
	margin-bottom: 30px;
	border-top: 2px solid #009223;
	font-family: 'Noto Sans',sans-serif;
}
.table_wrap .table-box{
	margin-bottom: 0;
	border: none;
	border-radius: 0;
	box-shadow: none;
}
.table_wrap .table-heading{
	background-color: transparent;
	border-bottom: 1px solid #ddd;
	font-size: 16px;
	overflow: hidden;
}
.table_wrap .table-heading:before{
	content: '+';
	display: inline-block;
	float:right;
	font-size: 24px;
	line-height: 24px;
	color: #ff8300;
	font-weight: bold;
	transition: transform 0.3s;
}
.qna .table-heading:before{
	content: none;
}
.table_wrap .question_tit{
	clear: none;
	max-width: 80%;
	word-break: break-all;
}
.table_wrap .post_info{
	clear: both;
	font-size: 13px;
	color: #333;
	font-weight: normal;
}
.table_wrap .answer_txt{
	margin-top: 14px;
	padding-left: 3%;
}
.table_wrap .answer_txt:before{
	content: '';
	display: inline-block;
	width: 8px;
	height: 8px;
	margin: 3px 8px 0 0;
	float: left;
	border-left: 2px solid #666;
	border-bottom: 2px solid #666;
}
.table_wrap .table_open{
	color: #01a5e2;
	font-weight: bold;
}
.table_wrap .table_open:before{
	-webkit-transform: rotate(135deg);
	-moz-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	-o-transform: rotate(135deg);
	transform: rotate(135deg);
}
.table_wrap .table-answer{
	font-size: 15px;
	background-color: #f8f8f8;
	border-bottom: 1px solid #ddd;
	display:none;
}
.table_wrap .nopost{
	background-color: #fff;
}
.table_wrap .answer_complete{
	display: inline-block;
	font-size: 12px;
	font-weight: bold;
}
.table_wrap .button .btn{
	padding: 1px 3px;
	font-size: 13px;
}
/* Q&A 문의 글쓰기 영역 */
.qna .write_area{
	padding: 0 3% 30px;
}
.qna .write_area .input{
	width: 100%;
	box-sizing: border-box;
	margin-bottom: 8px;
	font-size: 15px;
	height: 30px;
}
.qna .write_area textarea{
	width: 100%;
	height: 100px;
	padding: 5px;
	margin-bottom: 20px;
	border: 1px solid #bababb;
	box-sizing: border-box;
}
.qna .write_area .btn{
	width: 80%;
	max-width: 280px;
	padding: 8px 0;
	font-size: 16px;
	border-radius: 30px;
}
/* board */
.board{
	padding-bottom: 5%;
}
.board .page_top01+.table-top{
	margin: 0 3%;
	padding-bottom: 0;
}
.board .search_area{
	margin-bottom: 14px;
	overflow: hidden;
	text-align: right;
}
.board .table-top>.input,
.board .searchbox .select_search,
.board .searchbox .inp_search{
	height: 32px;
	box-sizing: border-box;
}
.board .searchbox .inp_search{
	width: calc(100% - 136px);
	max-width: 260px;
}
.board .table-top>.input{
	margin-bottom: 14px;
}
/* brand story 회사정보*/
.brand_story{
	counter-reset: section;
	background-color: #fff;
}
.art_brand_story{
	padding-right: 3%;
	padding-left: 3%;
	display: flex;
	flex-direction: column;
	padding-bottom: 32px;
}
.art_brand_story .title03,
.art_brand_story .brand_story_txt,
.art_brand_story .brand_story_img{
	margin-bottom: 20px;
}

.art_brand_story .title03{
	order: 1;
}
.art_brand_story .brand_story_txt{
	order: 2;
	font-size: 16px;
	line-height: 1.8;
	margin-right: 3%;
	margin-left: 3%;
}
.art_brand_story .brand_story_img{
	order: 0;
	margin-bottom: 20px;
	border: 1px solid #ebebeb;
	box-sizing: border-box;
}
.art_brand_story .brand_story_img img{
	width: 100%;
	display: block;
}
/* page_top */
.page_top01{
	position: relative;
	width:100%;
	z-index: 500;
}
.page_top01 .title06{
	position: relative;
}
.page_top01 .title06:after{
	content:'';
	display: block;
	position: absolute;
	right: 5%;
	bottom: 18px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 10px solid #009223;
}
.page_top01 .page_top_menu{
	display: none;
	position: absolute;
	z-index: 400;
	width: 100%;
	top: 42px;
	left: 0;
	border-bottom: 1px solid #ddd;
}
.page_top01 .page_top_ul{
	background-color: #f4f4f4;
}
.page_top01 .page_top_li{
	padding: 12px 0;
	text-align: center;
	font-size: 16px;
	font-family: 'Noto Sans',Arial,sans-serif;
	border-bottom: 1px solid #ddd;
}
.page_top01 .page_top_li:last-child{
	border-bottom: none;
}
.page_top01 .page_top_li a{
	color: #333;
}
.page_top01 .page_top_ul .active a{
	color: #ff8300;
	font-weight: bold;
}


/* gallery_list tag 공통 */
.tag_box{
	position: absolute;
}
.tag{
	display: inline-block;
	float: left;
	padding: 5px 8px;
	font-weight: bold;
	font-size: 18px;
	font-family: 'Noto sans',Arial,sans-serif;
	letter-spacing: 2px;
	
}
.tag_event{
	background-color: #01a5e2;
	color: #fff;
}
.tag_hot{
	background-color: #f26925;
	color: #fff;
}
.tag_new{
	background-color: #ffc300;
	color: #fff;
}
/* swipe style */
.swiper-pagination .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border-radius: 8px;
	background-color: #ddd;
	opacity: 1;
	transition: width 0.3s;
}
.swiper-pagination .swiper-pagination-bullet-active{
	width: 40px;
}
.pagination_green .swiper-pagination-bullet-active{
	background-color: #009223;
}
.pagination_yellow .swiper-pagination-bullet-active{
	background-color: #ffc300;
}

/* gallery_list01 제품리스트 */
.gallery_list01{
	width: 100%;
	padding: 20px 3% 0;
	box-sizing: border-box;
}
.gallery_list01 .gallery_list_ul{
	margin-bottom:0;
}
.gallery_list01 .gallery_list_li{
	position: relative;
	padding-bottom: 20px;
	margin-bottom: 20px;
	background-color: #fff;
}
.gallery_list01 .list_img{
	margin-bottom: 10px;
	background-color: #000;
}
.gallery_list01 .list_img img{
	display: block;
	width: 100%;
	border: none;
	padding: 0;
}
.gallery_list01 .list_txt{
	padding: 0 3%;
	/*margin-bottom: 10px;*/
	text-align: center;
}
.gallery_list01 .item_name{
	font-size: 20px;
	font-family: 'Noto sans',Arial,sans-serif;
	font-weight: bold;
	/*margin-bottom: 10px;*/
}
.gallery_list01 .item_txt{
	font-size: 15px;
	color: #333;
}
.gallery_list01 .item_postinfo{
	margin-bottom: 10px;
	font-size: 13px;
	color: #666;
}
.gallery_list01 .tag_box{
	top: 5px;
	left: 5px;
}
.gallery_list01 .item_price_box{
	margin-bottom: 10px;
	font-family: 'Noto Sans',Arial,sans-serif;
}
.gallery_list01 .item_price,
.gallery_list01 .item_price_before{
	display: block;
}
.gallery_list01 .item_price{
	color: #f26925;
}
.gallery_list01 .item_price .price_num{
	font-size: 18px;
	font-weight: bold;
}
.gallery_list01 .item_price .dong{
	font-size: 15px;
	font-weight: normal;
}
.gallery_list01 .item_price_before{
	font-size: 14px;
	color: #aaa;
	text-decoration: line-through;
}
.gallery_list01 .item_price_before .dong{
	font-size: 13px;
}
.gallery_list01 .event_date{
	font-size: 15px;
	font-weight: bold;
	font-family: 'Noto Sans', sans-serif;
	color: #f26925;
}
.gallery_list01+.table-bottom{
	margin-right:3%;
	margin-left: 3%;
}
.gallery_list01 .close_event .list_img img{
	opacity: 0.6;
}
.gallery_list01 .close_event .event_date,
.gallery_list01 .close_event .item_name,
.gallery_list01 .close_event .item_txt,
.gallery_list01 .close_event .list_txt{
	color: #666;
}
/* gallery_list02 상품상세페이지 하단 제품리스트 */
.gallery_list02{
	background-color: #fff;
	padding: 0 3% 10px;
}
.gallery_list02 .swiper-wrapper{
	padding-bottom: 50px;
}
.gallery_list04 .list_img,
.gallery_list02 .list_img{
	position:relative;
	text-align: center;
	width:100%;
	padding-bottom:100%;
	margin-bottom: 8px;
	background-color: #fff;
}
.gallery_list04 .list_img img,
.gallery_list02 .list_img img{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
.gallery_list02 .item_name{
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Noto Sans',Arial,sans-serif;
}
/* gallery_list03 영양성분표pop*/
.gallery_list03{}
.gallery_list03 .gallery_list_li{
	padding: 18px 0 14px;
	overflow: hidden;
	border-bottom: 1px solid #ddd;
}
.gallery_list03 .gallery_list_li:last-child{
	border-bottom: none;
}
.gallery_list03 .list_img{
	width: 100px;
	float: left;
	margin-right: 8px;
	text-align: center;
}
.gallery_list03 .list_img img{
	width: 70px;
	height: 70px;
}
.gallery_list03 .list_img_tit{
	font-size: 14px;
	font-weight: bold;

}
.gallery_list03 .list_txt {
	display: table;
	height: 99px;
	font-size: 16px;
}
.gallery_list03 .list_txt div{
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}
/* gallery_list04 */
.gallery_list04{
	text-align: center;
}
.gallery_list04 .gallery_list_li{
	display: inline-block;
	width: 28%;
	max-width: 130px;
	margin: 0 4px 8px;
	box-sizing: border-box;
}
.gallery_list04 .list_img{}
.gallery_list04 .thumnail{
	width: 100%;
}
.gallery_list04 .item_name{
	font-size: 14px;
	color: #009223;
}
/* gallery_list05 */
.gallery_list05{
	padding: 30px 0;
}
.gallery_list05 .swiper-container{
	padding-bottom: 40px;
}
.gallery_list05 .swiper-container .swiper-pagination{
	padding: 0 3%;
	box-sizing: border-box;
	bottom: -4px;
	text-align: right;
}
.gallery_list05 .gallery_list_ul{}
.gallery_list05 .gallery_list_li{
	padding: 0 3% 50px;
	box-sizing: border-box;
	position: relative;
}
.gallery_list05 .img_box{
	width: 100%;
}
.gallery_list05 .img_box img{
	display: block;
	width: 100%;
}
.gallery_list05 .list_txt{
	width: 80%;
	max-width: 400px;
	padding: 20px;
	box-sizing: border-box;
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: #fff;
	
}
.gallery_list05 .list_tit{
	margin-bottom: 16px;
	font-size: 18px;
	font-weight: bold;
	line-height: 1.8;
	
}
.gallery_list05 .list_tit:after{
	content:'';
	display: block;
	width: 80px;
	height: 3px;
	margin-top: 10px;
	background-color: #ffce32;
}
.gallery_list05 .sub_txt{
	font-size: 15px;
	line-height: 1.8;
}
/* gallery_list06 */
.gallery_list06{
	padding: 20px 3%;
	background-color: #fff;
}
.gallery_list06 .gallery_list_ul{}
.gallery_list06 .gallery_list_li{
	padding-bottom: 60px;
}
.gallery_list06 .list_img{
	width: 75%;
	margin: 0 auto 10px;
}
.gallery_list06 .list_img img{
	display: block;
	width: 100%;
}
.gallery_list06 .list_txt{
	text-align: center;
	font-family: 'Noto Sans',Arial, sans-serif;
}
.gallery_list06 .item_name{
	font-size: 20px;
	font-weight: bold;
}
.gallery_list06 .item_txt{
	font-size: 15px;
	color: #333;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2; /* 라인수 */
	-webkit-box-orient: vertical;
	word-wrap: break-word;
	line-height: 1.5;
	height: 3em;
}
.gallery_list06 .swiper-pagination{
	bottom: 16px;
}
.gallery_list06 .swiper-button-next,
.gallery_list06 .swiper-button-prev{
	background: none;
	margin-top: -8px;
	padding: 16px 10px;
	height: 36px;
}
.gallery_list06 .swiper-button-next:before,
.gallery_list06 .swiper-button-prev:before{
	content:'';
	display: inline-block;
	width: 20px;
	height: 20px;
}
.gallery_list06 .swiper-button-next{
	text-align: right;
	right: 0;
}
.gallery_list06 .swiper-button-prev{
	text-align: left;
	left: 0;
}
.gallery_list06 .swiper-button-next:before{
	border-top: 4px solid #ddd;
	border-right: 4px solid #ddd;
	transform: rotate(45deg);
}
.gallery_list06 .swiper-button-prev:before{
	border-top: 4px solid #ddd;
	border-left: 4px solid #ddd;
	transform: rotate(-45deg);
}
.gallery_list06 .swiper-button-next:focus,
.gallery_list06 .swiper-button-prev:focus{
	outline: none;
}

/* txt_list01 게시판 공지사항 */
.txt_list01{
	border-top: 2px solid #009223;
	background-color: #fff;
	margin-bottom: 30px;
}
.txt_list01 .txt_list_ul{
	padding: 12px 3%;
	border-bottom: 1px solid #ddd;
	overflow: hidden;
}
.txt_list01 .txt_tit{
	max-width: 100%;
	margin-bottom: 8px;
	font-size: 16px;
	font-family: 'Noto Sans',Arial, sans-serif;
	line-height: 1.5;
	clear: none;
}
.txt_list01 .txt_tit .post_title{
	display: inline-block;
	max-width: calc(100% - 36px);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	vertical-align: middle;
	margin-right: 4px;
}
.txt_list01 .txt_txt{
	max-width: 100%;
	box-sizing: border-box;
	margin-bottom: 12px;
	overflow: hidden;
	padding-left: 2%;
	text-align: left;
	font-size: 13px;
	height: 1.2em;
	line-height: 1.2;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.txt_list01 .txt_postinfo{
	float: right;
	font-size: 12px;
	font-family: 'Noto Sans',Arial, sans-serif;
	padding-top: 2px;
	color: #333;
}
.post_views{
	color: #01a5e2;
	font-weight: bold;
}
.txt_list01 .txt_thum{
	width:80px;
	height:80px;
	box-sizing: border-box;
	overflow: hidden;
	float: left;
	margin-right: 6px;
	border: 1px solid #eee;
}
.txt_list01 .txt_thum+.txt_tit .post_title{
	max-width: calc(90% - 80px);
}
.txt_thum img{
	width:100%;
	min-height: 100%;
}
/* 메인페이지 슬라이드 배너 */
.slide_bnr01 {
	margin-bottom: ;
}

.slide_bnr01 .slide_bnr_ul {}

.slide_bnr01 .slide_bnr_li {
	width: 100%;
	/*height: 100vw;*/
	overflow: hidden;
}

.slide_bnr01 .bnr_img {
	width: 100%;
	height: 100%;
}

.slide_bnr01 .swiper-pagination {
	bottom: 16px;
}
.slide_bnr01 .swiper-button-next,
.slide_bnr01 .swiper-button-prev {
	background: none;
	padding: 16px 10px;
	height: 36px;
	opacity: 0.8;
}

.slide_bnr01 .swiper-button-next:before,
.slide_bnr01 .swiper-button-prev:before {
	content: '';
	display: inline-block;
	width: 20px;
	height: 20px;
}

.slide_bnr01 .swiper-button-next {
	text-align: right;
	right: 0;
}

.slide_bnr01 .swiper-button-prev {
	text-align: left;
	left: 0;
}

.slide_bnr01 .swiper-button-next:before {
	border-top: 4px solid #fff;
	border-right: 4px solid #fff;
	transform: rotate(45deg);
}

.slide_bnr01 .swiper-button-prev:before {
	border-top: 4px solid #fff;
	border-left: 4px solid #fff;
	transform: rotate(-45deg);
}

.slide_bnr01 .swiper-button-next:focus,
.slide_bnr01 .swiper-button-prev:focus {
	outline: none;
}
/* 메인페이지 뉴스 */
.mainpg_news{
	padding: 30px 0;
	background-color: #fff;
}
.mainpg_news .txt_list01{
	margin-bottom: 0;
}
.mainpg_news .txt_thum{
	width: 50px;
	height: 50px;
}
.mainpg_news .txt_txt{
	margin-bottom: 0;
}
.mainpg_news .title01{
	margin-bottom: 20px;
	padding-top: 0;
}
.btn_more{
	display: block;
	width: 50%;
	margin: 20px auto 0;
	padding: 8px 0;
	text-align: center;
	font-size: 18px;
	border-radius: 30px;
/*
	background-color: #ffce32;
	color: #fff;
*/
}
.btn_more .plus{
	font-weight: bold;
	font-size: 24px;
	color: #ffce32;
}
/* post 영양성분표 */
.table_nutrient{
	margin: 0 3% 30px;
	border-top: 2px solid #009223;
	border-right: none;
	border-left: none;
	border-bottom: 1px solid #bababb;
}
.table_nutrient .table-body{}
.table_nutrient .table-body td,
.table_nutrient .table-body th{
	text-align: left;
	padding: 14px 10px;
	font-size: 16px;
	font-family: 'Noto Sans',Arial,sans-serif;
	border-top: 1px solid #ddd;
}
.table_nutrient .table-body tr:first-child td,
.table_nutrient .table-body tr:first-child th{
	border-top:none;
}
.table_nutrient .table-body th{
	color: #009223;
}
.nutrient .btn_box{
	padding: 0 0 30px;
	text-align: center;
}
.nutrient .btn_infoshow{
	padding: 5px 16px;
	margin: 0 3px;
	border-radius: 30px;
	font-size: 16px;
}
/* 영양성분표 pop */
.info_ingredients .btn_close{
	position: absolute;
	top: 10px;
	right: 10px;
	padding: 0;
	font-size: 28px;
	line-height: 1;
}
.info_ingredients .table_nutrient{
	margin-left: 0;
	margin-right: 0;
}
.info_ingredients .info_ingredients_txt{
	padding: 20px 0;
	font-size: 15px;
	border-bottom: 1px solid #ddd;
}
.black_back{
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 800;
	background-color: rgba(0,0,0,0.8);
}
.info_ingredients{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 100vh;
	left: 0;
	box-sizing: border-box;
	overflow: hidden;
	border-radius: 16px;
	border: 8px solid #ffc300;
	background-color: #ffc300;
}
.info_ingredients .ingredients_box{
	padding: 0 3%;
	position: absolute;
	top: 62px;
	left: auto;
	box-sizing: border-box;
	width: 100%;
	height: calc(100% - 62px);
	border-radius: 0 0 14px 14px;
	background-color: #fff;
	overflow: auto;
}
.info_ingredients .ingredients_box::-webkit-scrollbar {
	width: 0px;  /* remove scrollbar space */
	background: transparent;  /* optional: just make scrollbar invisible */
}
/* post */

.information{
	margin: 0 3% 20px;
	font-family: 'Noto Sans',Arial,sans-serif;
	font-size: 13px;
}
.information .user_name{
	font-weight: bold;
}
.information .fa{
	font-size: 15px;
}
.contents-view .content_txt{
	font-size: 16px;
	font-family: 'Noto Sans',Arial,sans-serif;
	line-height: 1.6;
}
.board .information li{
	padding-right: 12px;
}
.board .information .time {
	padding-right: 0;
	padding-left: 12px;
}
/* post good bad */
.board .recommand .good{
	background-color: #009223;
	color: #ffce32;
}
.board .recommand .bad {
	background-color: #aaa;
	color: #000;
}
.board .recommand .fa{
	font-size: 24px;
	line-height:1;
}

/* comment-write */
.main .board .comment_write_box_inner{
	padding: 0 3% 20px;
}
#comment_write_box .write_user_info li{
	margin-bottom: 8px;
}
#comment_write_box .write_user_info span{
	display: inline-block;
	width: 80px;
	float: none;
	font-size: 14px;
}
#comment_write_box .write_user_info .input{
	display: inline-block;
	width: 160px; 
	height: 28px;
	box-sizing: border-box;
	float: none;
}
#comment_write_box .commenttextarea{
	width:100%;
	box-sizing: border-box;
}
#comment_write_box .comment_write_button_area{
	margin-top: 10px;
}
#comment_write_box .comment_write_button_area .btn{
	padding: 3px 5px;
}
.board .post_btn_box{
	margin-right: 3%;
	margin-left: 3%;
}
.passcord .form-group{
	margin-bottom: 8px;
}
.passcord .passcord_noti{
	font-size: 14px;
}
/* comment_list */
#viewcomment{
	margin: 0;
	padding: 15px 3%;
}
#viewcomment .media{
	padding: 10px 0;
	margin: 4px 0 0;
	border: 1px solid #bababb;
	background-color: #fff;
	overflow: hidden;
}
#viewcomment .media:nth-of-type(2){
    margin-top: 0;
}
#viewcomment .media-body{
	padding: 0 3%;
	position: relative;
}

#viewcomment .media .time{
	padding: 0 2px 0 10px;
}
#viewcomment .user_name{
	font-weight: bold;
	font-size: 15px;
}
#viewcomment .good{
	color: #009223;
}
#viewcomment .bad{
	color: #ff8300;
}
/* board btn */
.board .border_button{
	margin: 0px 3%;
}
.board .sns_button img{
	width: 30px;
	height: 30px;
}
/* list */
.board .post_list{
	background-color: #fff;
	border-top: 2px solid #009223;
	table-layout: fixed;
}
.board .post_list thead{
	border-top: 2px solid #009223;
}
.board .post_list td{
	text-align: center;
}
.board .post_list td,
.board .post_list th{
	padding: 8px 3px;
	font-size: 14px;
}
.board .post_list .table_num{
	width: 34px;
} 
.board .post_list .table_tit{
	width: 70%;
} 
.board .post_list .table_tit a{
	display: inline-block;
	max-width: calc(100% - 20px);
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
} 
.board .post_list .table_user{
	width: 28%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
} 
.board .post_list .table_date{
	width: 54px;
} 
.board .post_list .table_views{
	width: 50px;
} 
/* latest */
.latest:last-child{
	margin-bottom:30px;
}
.latest .table-box{
	border: none;
	border-top: 2px solid #009223;
	border-bottom: 1px solid #bababb;
}
.latest .table-heading{
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #bababb;
	background-color: #fff;
}
.latest .table-heading .view-all{
	font-size: 14px;
	font-weight: normal;
	margin-right: 3%;
	text-align: right;
	line-height: 27px;
}
.latest .table-body{
	table-layout: fixed;
}
.latest .table-body td{
	padding: 10px 8px 10px 15px;
	line-height: 20px;
}
.latest .table-body td:first-child{
	font-size: 15px;
}
.latest .table-body tr:first-child td{
	border-top: none;
}
.latest .table-body .txt_date{
	text-align: center;
	padding: 10px 4px;
	width: 70px;
}

.latest .table-body .txt_tit{
	display: inline-block;
	max-width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	vertical-align: middle;
} 
/* login */
.access{
	background-color: #fff;
	padding-bottom: 20px;
}
.access .table-box,
.access .table-footer,
.access .table-box form{
	border: none;
	background-color: transparent;
}
.findarea .change_password,
.access .loginform{
	max-width: 300px;
	margin: 0 auto;
}
.access .loginform li>span{
	font-size: 15px;
	font-family: 'Noto Sans',Arial,sans-serif;
}
.access .loginform .btn_box{
	text-align: center;
}
.access .loginform .btn_box .btn{
	margin: 0 3px;
}
/* provision 회원가입 약관 */
.access,
.final,
.register,
.provision,
.findarea{
	min-height: calc(100vh - 114px);
	background-color: #fff;
	box-sizing: border-box;
}
.final .table-box,
.register .table-box,
.findarea .table-box,
.provision .table-box{
	border: none;
}
.final .table-body,
.register .table-body form,
.findarea .table-body,
.findarea .table-body form,
.findarea .table-body .findaccount,
.provision .registeragree{
	border-top: none;
}
.provision .registeragree li{
	margin-bottom: 20px;
	overflow: hidden;
}
.provision .registeragree strong{
	font-size: 16px;
}
.provision .registeragree .checkbox{
	font-size: 14px;
}
.provision .registeragree .btn{
	padding: 4px 10px;
	font-size: 16px;
	float: right;
	
}
/* register 회원가입 */
.registerform li{
	padding-bottom: 12px;
}
.registerform li>span{
	font-size: 15px;
}
.registerform li .input{
	display: block;
	width: 200px;
}
.registerform .table-body .form{
	border-top:0;
}
.registerform .group .btn {
	margin: 0 3px;
	font-size: 16px;
}
/* .final 회원가입 축하 */
.findarea,
.findarea .table-box,
.findarea .table-body,
.final,
.final .table-box,
.final .table-heading,
.final .table-body{
	box-sizing: border-box;
	width: 100%;
}
.final .table-body{
	padding-left: 3%;
	padding-right: 3%;
}
.final .msg_content{
	text-align: center;
	font-size: 16px;
}
.final .msg_content>span{
	font-weight: bold;
}
.final .img {
	width: 150px;
	margin: 0 auto 20px;
}
.final .img img{
	width: 100%;
}
.findarea .change_password .btn,
.findaccount .btn,
.final .btn_final .btn{
	padding: 8px 16px;
	font-size: 16px;
	border-radius: 30px;
}
/* findaccount 계정찾기 */
.findarea form,
.findaccount form{
	padding: 20px 10px;
}
.findarea .change_pw .title10,
.findaccount .title10{
	border-bottom-width: 1px;
}
.findaccount .text{
	line-height: 1.8;
	font-size: 15px;
	margin-bottom: 10px;
}
.findaccount .text+.group{
	text-align: center;
}
.access .loginform .inp_user_id .input,
.access .loginform .inp_password .input,
.change_password .inp_password .input,
.findaccount .input[type="email"]{
	width: 100%;
	height: 34px;
	box-sizing: border-box;
	font-size: 14px;
}
.findaccount .btn{
	margin-top: 10px;
}
/* change_password */
.access .loginform .inp_user_id,
.access .loginform .inp_password,
.findarea .change_password li{
	font-size: 15px;
	overflow: hidden;
	margin-bottom: 20px;
}
.access .loginform li>span,
.findarea .change_password li>span{
	margin-top: 0;
}
.findarea .change_password .btn_box{
	text-align: center;
}
.findarea .change_password .btn_box span{
	padding: 0;
}
.change_password .user_id{
	text-align: center;
}
.change_password .user_id strong{
	font-size: 18px;
	color: #01a5e2;
}
.access .loginform .inp_user_id span,
.access .loginform .inp_password span,
.change_password .inp_password span{
	display: block;
	width: auto;
	float: none;
	text-align: left;
	margin-bottom: 8px;
}
/* goods_detail */
.goods_detail{
	background-color: #fff;
}
.goods_tit{
	padding: 20px 0;
	position: relative;
	text-align: center;
	font-family: 'Noto Sans',Arial,sans-serif;
}
.goods_tit .goods_cate{
	margin-bottom: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #009223;
}
.goods_tit .item_name{
	margin-bottom: 0;
	font-size: 24px;
	font-weight: bold;
}
.goods_tit .item_subtit{
	margin-bottom: 10px;
	font-size: 15px;
	color: #666;
}
.goods_tit .item_kcal{
	font-size: 18px;
	color: #666;
}
.goods_tit .btn_box{
	position: absolute;
	top: 0;
	right: 5%;
}
.goods_tit .btn_share{
	width: 40px;
	height: 40px;
	margin-bottom: 10px;
	font-size: 24px;
	color: #666;
	border: 1px solid #999;
	border-radius: 30px;
}
.goods_tit .btn_share:focus{
	outline: none;
}
.goods_tit .btn_share .fa{
	display: block;
}
.goods_tit .btn_sns_ul{
	display: none;
	width: 40px;
}
.goods_tit .btn_sns{
	margin-bottom: 10px;
	width: 100%;
	overflow: hidden;
	border-radius: 10px;
	
}
.goods_tit .btn_sns img{
	display: block;
	width: 100%;
}
.goods_post{
	margin: 0 3%;
	padding: 30px 0;
	text-align: center;
}
.goods_post> img{
	max-width: 100%;
	margin-bottom: 10px;
}
.goods_post .goods_txt{
	margin-bottom: 16px;
	font-size: 15px;
	line-height: 1.8;
	text-align: center;
}
/*  */






